
/vgg16_imagenet
/vgg16_places365
*.asv
/ISCtoolbox
/photos
/derivatives/sub-*/func/wrsub-*xxxx_task-scenes_run-*_bold.nii
/sourcedata/sub-*/anat/*.nii
/sourcedata/sub-*/func/*.nii
/derivatives/sub-*/func/*.nii
/sourcedata/**/.import
