
*.nii
*.json
/derivatives
*.tiff
*.jpg
*.png
/vgg16_imagenet
*.fig
*.asv
/dnn_features
/ISCtoolbox/kitchen/fMRIpreprocessed
/ISCtoolbox/bathroom/fMRIpreprocessed
/ISCtoolbox/kitchen/stats
/ISCtoolbox/bathroom/stats
/stimuli/Neuer Ordner
